@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../../fonts/Ubuntu-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../../fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

//=======================================================================================

// .wrapper
.wrapper {
  //max-width: 1366px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: 'Ubuntu-Regular', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background: url(../../img/background.png) center/cover no-repeat fixed;
}

[class*="__container"] {
  margin: 0;
  padding: 0;
  max-width: 1366px;
  box-sizing: content-box;
}

//================================================================================
   // .header
  .header {
    // .header__container
    &__container {
      width: 100%;
      margin: 0;
      max-width: 1366px;
      padding-bottom: 56px;
    }

    // .header__wrapper
    &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

  // .header__logo
  .logo {
     display: flex;
     align-items: center;

      // .logo__text
      &__text {
        color: #fff;
        font-family: 'Ubuntu-Bold', sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        padding: 18px 0 18px 79px;


        &:hover {
          color: #01813F;
          transition:  0.3s;
        }
      }
}

// .header__icons
.icons {
  padding-left: 620px;

    // .icons__item
    &__item {
      margin-right: 24px;
      cursor: pointer;


      & path:hover {
        fill: #01813F;
        transition: 0.3s;

      }
    }
  }

// .header__admission
.admission {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding:0 79px 0 27px;

    // .admission__login
    &__login::before {
      content: "Welcome ";
      color: #ffffff;

    }

    &__login:hover {
      color: #01813F;
      transition: 0.3s;

    }

    // .admission__signup
    &__signup::before {
      content: " or ";
      color: #ffffff;
    }

    &__signup:hover {
      color: #01813F;
      transition: 0.3s;

    }
}

// ==========================================================================

// .section__form
.form {
  // .form__container
  &__container {
    width: 100%;
    max-width: 444px;
    z-index: 3;
  }
  // .form__wrapper
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.52);
  }
}

// .from__signup
.signup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  // .signup__Box
  &__Box {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin-top: 29px;
  }

  // .signup__SignUp
  &__SignUp {
    // .SignUp__text
    & span {
      display: block;
      margin: 31px 0 0 43px;
      color: #434343;
      font-size: 20px;
      line-height: 20px;

    }
  }

  // .signup__LogIn
  &__LogIn {
    // .LogIn__text
    & span {
      display: block;
      margin: 33px 0 0 216px;
      color: #3CB878;
      cursor: pointer;
      &:hover {
        color: #01813F;
        text-decoration-line: underline;
        transition: 0.3s;
      }
    }
  }

  // BUTTONS //

  // .signup__left-btn
  &__left__btn {
    margin: 15px 0 0 60px;
    background: #305DB8;
    border-radius: 3px;
    // .facebook__btn__wrapper
    & a {
      display: flex;
      align-items: center;
      // .facebook__btn__svg
      & svg {
        margin: 12px 19px 12px 18px;
      }
      // .facebook__btn__text
      & span {
        padding: 10px 22px 10px 18px;
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        border-left: 1px solid;
        border-left-color: rgb(3 8 45 / 10%);
      }
    }
  }
  // .signup__right__btn
  &__right__btn {
    margin: 15px 0 0 4px;
    background: #DF4A32;;
    border-radius: 3px;
    // .google__btn__wrapper
    & a {
      display: flex;
      align-items: center;
      // .google__btn__svg
      & svg {
        margin: 15px 7px 14px 12px;
      }
      // .google__btn__text
      & span {
        padding: 10px 27px 10px 30px;
        color: #ffffff;
        font-size: 16px;
        line-height: 16px;
        border-left: 1px solid;
        border-left-color: rgb(3 8 45 / 10%);
      }
    }
  }
}
  // .form__or
  .form__or {
    display: flex;
    justify-content: center;
    align-items: center;

    // .or__hr (line)
    hr {
      width: 152px;
      height: 1px;
      border-top: 1px solid #F2F2F2;
      margin-top: 22px;
    }
    // .or__text
    span {
      display: block;
      color: #848484;
      margin: 31px 3px 12px 3px;
    }
  }

  // .form__input
  .form__input {
    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      & input {
        width: 322px;
        height: 44px;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
        margin-bottom: 15px;
        color: #434343;
        outline: none;


      }

    }
  }

  // .checkbox
  .checkbox {
    display: flex;
    align-items: center;
    position: relative;

    //. checkbox__input
    & input {
      -webkit-appearance: none;
      appearance: none;
      position: absolute;

      // .checkbox__input (checked)
      &:checked + label:after {
        opacity: 1;
      }
    }
    // .checkbox__label
    & label {
      padding-top: 3px;
      padding-left: 28px;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #F2F2F2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url(../../img/content/check.svg) center no-repeat;
        background-size: 16px 16px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      // .label__terms
      & span {
        position: relative;
        color: #3CB878;
        line-height: 100%;
        transition: color 0.3s;
        cursor: pointer;

        // .terms__hr(hover)
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          display: none;
          background-color: #01813F;
          top: 100%;
          left: 0;
        }

        &:hover {
          color: #01813F;
          transition: 0.3s;

        }

        &:hover::after {
          display: block;

        }
      }
    }
  }




  .create__account {
    display: flex;
    align-items: center;
    & a {
      color: #ffffff;
      font-size: 16px;
      line-height: 16px;
      padding: 16px 106px 16px 106px;
      margin: 20px 0 40px 0;
      border: 1px solid;
      border-radius: 4px;
      background: rgba(60, 184, 120, 0.8);
      &:hover {
        background: #01813F;
        transition: 0.3s;
      }
    }

  }
