@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("/fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Ubuntu-Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  background: url(/img/background.png) center/cover no-repeat fixed;
}

[class*=__container] {
  margin: 0;
  padding: 0;
  max-width: 1366px;
  box-sizing: content-box;
}

.header__container {
  width: 100%;
  margin: 0;
  max-width: 1366px;
  padding-bottom: 56px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  color: #fff;
  font-family: "Ubuntu-Bold", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  padding: 18px 0 18px 79px;
}
.logo__text:hover {
  color: #01813F;
  transition: 0.3s;
}

.icons {
  padding-left: 620px;
}
.icons__item {
  margin-right: 24px;
  cursor: pointer;
}
.icons__item path:hover {
  fill: #01813F;
  transition: 0.3s;
}

.admission {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0 79px 0 27px;
}
.admission__login::before {
  content: "Welcome ";
  color: #ffffff;
}
.admission__login:hover {
  color: #01813F;
  transition: 0.3s;
}
.admission__signup::before {
  content: " or ";
  color: #ffffff;
}
.admission__signup:hover {
  color: #01813F;
  transition: 0.3s;
}

.form__container {
  width: 100%;
  max-width: 444px;
  z-index: 3;
}
.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.52);
}

.signup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.signup__Box {
  content: "";
  width: 18px;
  height: 18px;
  background: #3CB878;
  margin-top: 29px;
}
.signup__SignUp span {
  display: block;
  margin: 31px 0 0 43px;
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}
.signup__LogIn span {
  display: block;
  margin: 33px 0 0 216px;
  color: #3CB878;
  cursor: pointer;
}
.signup__LogIn span:hover {
  color: #01813F;
  text-decoration-line: underline;
  transition: 0.3s;
}
.signup__left__btn {
  margin: 15px 0 0 60px;
  background: #305DB8;
  border-radius: 3px;
}
.signup__left__btn a {
  display: flex;
  align-items: center;
}
.signup__left__btn a svg {
  margin: 12px 19px 12px 18px;
}
.signup__left__btn a span {
  padding: 10px 22px 10px 18px;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border-left: 1px solid;
  border-left-color: rgba(3, 8, 45, 0.1);
}
.signup__right__btn {
  margin: 15px 0 0 4px;
  background: #DF4A32;
  border-radius: 3px;
}
.signup__right__btn a {
  display: flex;
  align-items: center;
}
.signup__right__btn a svg {
  margin: 15px 7px 14px 12px;
}
.signup__right__btn a span {
  padding: 10px 27px 10px 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border-left: 1px solid;
  border-left-color: rgba(3, 8, 45, 0.1);
}

.form__or {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__or hr {
  width: 152px;
  height: 1px;
  border-top: 1px solid #F2F2F2;
  margin-top: 22px;
}
.form__or span {
  display: block;
  color: #848484;
  margin: 31px 3px 12px 3px;
}

.form__input form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input form input {
  width: 322px;
  height: 44px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  margin-bottom: 15px;
  color: #434343;
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox input:checked + label:after {
  opacity: 1;
}
.checkbox label {
  padding-top: 3px;
  padding-left: 28px;
}
.checkbox label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(/img/content/check.svg) center no-repeat;
  background-size: 16px 16px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.checkbox label span {
  position: relative;
  color: #3CB878;
  line-height: 100%;
  transition: color 0.3s;
  cursor: pointer;
}
.checkbox label span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  display: none;
  background-color: #01813F;
  top: 100%;
  left: 0;
}
.checkbox label span:hover {
  color: #01813F;
  transition: 0.3s;
}
.checkbox label span:hover::after {
  display: block;
}

.create__account {
  display: flex;
  align-items: center;
}
.create__account a {
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 106px 16px 106px;
  margin: 20px 0 40px 0;
  border: 1px solid;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
}
.create__account a:hover {
  background: #01813F;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
